.include /etc/pulse/default.pa

load-module module-switch-on-connect

{{- if eq .chezmoi.hostname "sam-desktop" }}
# Disable the unused HDMI audio sink in my LG display.
set-card-profile alsa_card.pci-0000_09_00.1 off
{{- end }}
