[Unit]
After=sway-session.target
Requires=sway-session.target
PartOf=sway-session.target

[Service]
Type=simple
ExecStart=sh -c 'tail -f $SWAYSOCK.wob | wob'
Restart=on-failure

[Install]
WantedBy=sway-session.target
